---
# yaml-language-server: $schema=http://192.168.30.249:5005/api/config/schema.json
detectors:
  coral1:
    type: edgetpu
    device: usb:0
  coral2:
    type: edgetpu
    device: usb:1

database:
  path: /config/frigate.db

mqtt:
  host: 192.168.30.249
  topic_prefix: frigate
  user: frigate
  password: "{FRIGATE_MQTT_PASSWORD}"

record:
  enabled: True
  retain:
    days: 14
    mode: motion
  events:
    pre_capture: 2
    retain:
      default: 40
      mode: active_objects

timestamp_style:
  position: "tr"
  effect: solid

snapshots:
  enabled: True
  clean_copy: True
  timestamp: False
  crop: True
  retain:
    default: 20
    objects:
      person: 30

ffmpeg:
  hwaccel_args: preset-nvidia-h264
  output_args:
    record: preset-record-generic-audio-aac

detect:
  fps: 5
  width: 1280
  height: 720

objects:
  track:
    - person
    - cat
    - dog
  filters:
    person:
      min_score: 0.6

go2rtc:
  streams:
    doorbell:
      - rtsp://ha:{FRIGATE_HA_AXIS}@192.168.30.130:554/axis-media/media.amp?videocodec=h264&resolution=1920x1080
    doorbell_sub:
      - rtsp://ha:{FRIGATE_HA_AXIS}@192.168.30.130:554/axis-media/media.amp?videocodec=h264&resolution=1280x720
    workshop:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.31.131:554/cam/realmonitor?channel=1&subtype=0
    workshop_sub:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.31.131:554/cam/realmonitor?channel=1&subtype=2
    deck:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.31.132:554/cam/realmonitor?channel=1&subtype=0
    deck_sub:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.31.132:554/cam/realmonitor?channel=1&subtype=2
    frontyard:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.31.133:554/cam/realmonitor?channel=1&subtype=0
    frontyard_sub:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.31.133:554/cam/realmonitor?channel=1&subtype=2
    garage:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.31.134:554/cam/realmonitor?channel=1&subtype=0
    garage_sub:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.31.134:554/cam/realmonitor?channel=1&subtype=2
    driveway:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.31.137:554/cam/realmonitor?channel=1&subtype=0
    driveway_sub:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.31.137:554/cam/realmonitor?channel=1&subtype=2
    grilldeck:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.31.135:554/cam/realmonitor?channel=1&subtype=0
    grilldeck_sub:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.31.135:554/cam/realmonitor?channel=1&subtype=2
    mudroom:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.31.136:554/cam/realmonitor?channel=1&subtype=0
    mudroom_sub:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.31.136:554/cam/realmonitor?channel=1&subtype=2
    patio:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.31.138:554/cam/realmonitor?channel=1&subtype=0
    patio_sub:
      - rtsp://admin:{FRIGATE_RTSP_PASSWORD}@192.168.31.138:554/cam/realmonitor?channel=1&subtype=2
  webrtc:
    candidates:
      - 192.168.30.249:8555
      - stun:8555

cameras:
  #  theta:
  #    ffmpeg:
  #      input_args: "-avoid_negative_ts make_zero -fflags +genpts+discardcorrupt -rtsp_transport tcp -use_wallclock_as_timestamps 1 -an"
  #      inputs:
  #        - path: rtsp://192.168.30.2:7447/{FRIGATE_UI}
  #          roles:
  #            - detect
  #            - record
  #    detect:
  #      width: 1280
  #      height: 1280
  #      fps: 15
  #    mqtt:
  #      timestamp: False
  #      bounding_box: False
  #      crop: True
  #      quality: 100
  #      height: 500
  doorbell:
    motion:
      mask:
        - 1280,0,1280,720,990,720,1035,571,1065,384,1025,186,955,41
        - 182,201,347,46,595,0,0,0,0,720,273,720
    zones:
      doorbell_near:
        coordinates: 934,720,1005,570,698,504,643,451,492,463,404,567,370,720
    ffmpeg:
      inputs:
        - path: rtsp://192.168.30.249:8554/doorbell
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://192.168.30.249:8554/doorbell_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    objects:
      filters:
        cat:
          mask:
            - 182,201,347,46,595,0,0,0,0,720,273,720
        dog:
          mask:
            - 182,201,347,46,595,0,0,0,0,720,273,720
        person:
          mask:
            - 182,201,347,46,595,0,0,0,0,720,273,720
          min_area: 35000
          max_area: 320000
    mqtt:
      timestamp: False
      bounding_box: False
      crop: True
      quality: 100
      height: 500
  workshop:
    motion:
      mask:
        - 1280,0,1280,720,582,720,721,437,926,316,1088,360,1176,197,537,0
    zones:
      workshop_far:
        coordinates: 448,368,853,385,996,257,736,139,384,44,133,33,79,273
      workshop_near:
        coordinates: 773,409,585,720,230,720,64,401,271,297,480,391
    ffmpeg:
      output_args:
        record: preset-record-generic-audio-copy
      inputs:
        - path: rtsp://192.168.30.249:8554/workshop
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://192.168.30.249:8554/workshop_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    objects:
      filters:
        cat:
          mask:
            - 1280,0,1280,720,582,720,721,437,926,316,1088,360,1176,197,537,0
          threshold: 0.72
        dog:
          mask:
            - 1280,0,1280,720,582,720,721,437,926,316,1088,360,1176,197,537,0
          threshold: 0.72
        person:
          mask:
            - 1280,0,1280,720,582,720,721,437,926,316,1088,360,1176,197,537,0
          threshold: 0.72
          min_area: 32000
          max_area: 320000
    mqtt:
      timestamp: False
      bounding_box: False
      crop: True
      quality: 100
      height: 500
  deck:
    motion:
      mask:
        - 563,720,542,688,468,656,281,720
        - 125,352,0,331,0,0,1280,0,1182,203,1066,310,823,236,553,303
    zones:
      deck_far:
        coordinates: 403,720,1144,449,1235,452,1280,394,1238,314,1125,266,1006,383,824,304,329,508
      deck_near:
        coordinates: 444,720,1090,720,1187,578,1231,482,1122,453
    ffmpeg:
      inputs:
        - path: rtsp://192.168.30.249:8554/deck
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://192.168.30.249:8554/deck_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    objects:
      filters:
        cat:
          mask:
            - 327,96,699,41,1280,124,1280,0,0,0,0,242
          min_area: 9000
        dog:
          mask:
            - 327,96,699,41,1280,124,1280,0,0,0,0,242
          min_area: 9000
        person:
          mask:
            - 327,96,699,41,1280,124,1280,0,0,0,0,242
          min_area: 16000
          max_area: 130000
    mqtt:
      timestamp: False
      bounding_box: False
      crop: True
      quality: 100
      height: 500
  frontyard:
    motion:
      mask:
        - 1280,720,1280,654,1173,720
        - 202,624,215,430,64,327,36,137,252,21,377,102,393,0,0,0,0,720,290,720
        - 1280,0,1280,272,1209,229,1011,127,794,47,624,0
    zones:
      driveway_near:
        coordinates: 561,57,718,154,406,217,377,96
      driveway_far:
        coordinates: 566,60,768,44,989,122,720,153
    ffmpeg:
      inputs:
        - path: rtsp://192.168.30.249:8554/frontyard
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://192.168.30.249:8554/frontyard_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    objects:
      filters:
        car:
          mask:
            - 202,624,215,430,64,327,36,137,252,21,377,102,393,0,0,0,0,720,290,720
            - 1280,0,1280,272,1209,229,1011,127,794,47,624,0
          min_area: 8000
        cat:
          mask:
            - 202,624,215,430,64,327,36,137,252,21,377,102,393,0,0,0,0,720,290,720
        dog:
          mask:
            - 202,624,215,430,64,327,36,137,252,21,377,102,393,0,0,0,0,720,290,720
        motorcycle:
          mask:
            - 202,624,215,430,64,327,36,137,252,21,377,102,393,0,0,0,0,720,290,720
            - 1280,0,1280,272,1209,229,1011,127,794,47,624,0
          min_area: 1000
        person:
          mask:
            - 202,624,215,430,64,327,36,137,252,21,377,102,393,0,0,0,0,720,290,720
            - 409,460,508,424,578,477,585,624,493,651,406,538
          min_area: 8000
          max_area: 130000
      track:
        - person
        - cat
        - dog
        - car
        - motorcycle
    mqtt:
      timestamp: False
      bounding_box: False
      crop: True
      quality: 100
      height: 500
  garage:
    motion:
      mask:
        - 802,50,640,40,638,0,806,0
    ffmpeg:
      inputs:
        - path: rtsp://192.168.30.249:8554/garage
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://192.168.30.249:8554/garage_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    objects:
      filters:
        person:
          min_area: 35000
          max_area: 320000
    mqtt:
      timestamp: False
      bounding_box: False
      crop: True
      quality: 100
      height: 500
  driveway:
    motion:
      mask:
        - 1280,411,1280,0,0,0,0,315,251,189,505,105,781,45,971,33,1127,121,1080,369
    record:
      events:
        required_zones:
          - driveway_near
          - driveway_far
    snapshots:
      required_zones:
        - driveway_near
        - driveway_far
    zones:
      driveway_near:
        coordinates: 393,720,1010,720,1006,524,1137,262,1054,170,905,108,235,397
      driveway_far:
        coordinates: 649,85,905,103,225,393,177,241,388,158
    ffmpeg:
      inputs:
        - path: rtsp://192.168.30.249:8554/driveway
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://192.168.30.249:8554/driveway_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    objects:
      filters:
        car:
          mask:
            - 1280,411,1280,0,0,0,0,315,251,189,505,105,781,45,971,33,1127,121,1080,369
          min_area: 10000
        cat:
          mask:
            - 1280,411,1280,0,0,0,0,315,251,189,505,105,781,45,971,33,1127,121,1080,369
        dog:
          mask:
            - 1280,411,1280,0,0,0,0,315,251,189,505,105,781,45,971,33,1127,121,1080,369
        motorcycle:
          mask:
            - 1280,411,1280,0,0,0,0,315,251,189,505,105,781,45,971,33,1127,121,1080,369
          min_area: 1000
        person:
          mask:
            - 1280,411,1280,0,0,0,0,315,251,189,505,105,781,45,971,33,1127,121,1080,369
          min_area: 5000
          max_area: 105000
      track:
        - person
        - cat
        - dog
        - car
        - motorcycle
    mqtt:
      timestamp: False
      bounding_box: False
      crop: True
      quality: 100
      height: 500
  grilldeck:
    motion:
      mask:
        - 877,0,1280,0,1280,197,1280,387,1108,342,914,491,803,450,727,257,790,143
    zones:
      grilldeck_far:
        coordinates: 1045,412,1140,593,927,720,696,720,650,552
      grilldeck_near:
        coordinates: 734,465,1052,387,885,123,366,114,262,0,56,96,292,720,695,720,654,549
    ffmpeg:
      inputs:
        - path: rtsp://192.168.30.249:8554/grilldeck
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://192.168.30.249:8554/grilldeck_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    objects:
      filters:
        cat:
          mask:
            - 877,0,1280,0,1280,197,1280,387,1108,342,914,491,803,450,727,257,790,143
        dog:
          mask:
            - 877,0,1280,0,1280,197,1280,387,1108,342,914,491,803,450,727,257,790,143
        person:
          mask:
            - 877,0,1280,0,1280,197,1280,387,1108,342,914,491,803,450,727,257,790,143
          min_area: 18000
          max_area: 180000
    mqtt:
      timestamp: False
      bounding_box: False
      crop: True
      quality: 100
      height: 500
  mudroom:
    zones:
      mudroom_far:
        coordinates: 1011,642,1118,409,1200,79,908,0,653,0,670,406
      mudroom_near:
        coordinates: 964,720,398,720,171,129,626,0,656,417,1006,654
    ffmpeg:
      inputs:
        - path: rtsp://192.168.30.249:8554/mudroom
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://192.168.30.249:8554/mudroom_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    objects:
      filters:
        person:
          min_area: 35000
          max_area: 180000
    mqtt:
      timestamp: False
      bounding_box: False
      crop: True
      quality: 100
      height: 500
  patio:
    motion:
      mask:
        - 161,52,474,0,0,0,0,203
    zones:
      patio_near:
        coordinates: 1280,720,1280,399,1118,394,347,629,354,720
      patio_far:
        coordinates: 282,453,826,146,1098,110,1218,217,1166,358,293,628
    ffmpeg:
      inputs:
        - path: rtsp://192.168.30.249:8554/patio
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://192.168.30.249:8554/patio_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    objects:
      filters:
        cat:
          mask:
            - 161,52,474,0,0,0,0,203
        dog:
          mask:
            - 161,52,474,0,0,0,0,203
        person:
          mask:
            - 161,52,474,0,0,0,0,203
          min_area: 4000
          max_area: 180000
    mqtt:
      timestamp: False
      bounding_box: False
      crop: True
      quality: 100
      height: 500
